<%= form_with(model: [commentable, Comment.new]) do |form| %>
  <% if commentable.errors.any? %>
    <div style="color: red">
      <h2><%= t('views.common.validation_error', errors: i18n_error_count(commentable.errors.count), name: commentable.model_name.human.downcase) %></h2>

      <ul>
        <% commentable.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_field :body , required: true %>

  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
