<p style="color: green"><%= notice %></p>

<h1><%= t('views.common.title_index', name: i18n_pluralize(Comment.model_name.human)) %></h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to t('views.common.show', name: Comment.model_name.human.downcase), comment %>
    </p>
  <% end %>
</div>

<%= link_to t('views.common.new', name: Comment.model_name.human.downcase), new_comment_path %>
