<p style="color: green"><%= notice %></p>

<h1><%= t('pages.index') %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
   <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t('button.show', model: Book.human_attribute_name(:book) ), book %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t('button.new', model: Book.human_attribute_name(:book) ), new_book_path %>
</nav>
