<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t('button.edit'), edit_book_path(@book) %> |
  <%= link_to t('button.back'), books_path %>

  <%= button_to t('button.destroy'), @book, method: :delete %>
</nav>
