<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t('button.edit', model: Book.human_attribute_name(:book) ), edit_book_path(@book) %> |
  <%= link_to t('button.back'), books_path %>

  <%= button_to t('button.destroy', model: Book.human_attribute_name(:book) ), @book, method: :delete %>
</nav>
