<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<% if flash[:no_comment].present? %>
  <p id="alert"><%= flash[:no_comment] %></p>
<% else %>
  <%= Time.now %>
<% end %>

<div class="show-item">
  <%= render partial: 'reports/report', locals: { report: @report } %>
</div>

<nav class="page-nav">
  <% if @report.created_by?(current_user) %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %> |
  <% end %>
  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>
  <% if @report.created_by?(current_user) %>
    <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete %>
  <% end %>
</nav>

<h2><%= Comment.model_name.human %></h2>

<%= render partial: 'comments/comments', locals: {commentable: @report} %>
<%= render partial: 'comments/form', locals: {commentable: @report} %>
